/*:root {
  --header-bg-color: #1e272e;
  --header-text-color: #d2dae2;
  --main-bg-color: #d2dae2;
  --main-text-color: #1e272e;
  --secondary-bg-color: #7692ff;
  --secondary-text-color: #abd2fa;
  --tertiary-bg-color: #6cae75;
  --tertiary-text-color: #d2dae2;
  --footer-bg-color: #485460;
  --footer-text-color: #d2dae2;
  --shadow-bright-color: #808e9b;
  --shadow-dark-color: #1e272e;
}*/

* {
  box-sizing: border-box;
}

.calendarHolder {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1.5em repeat(6, 1fr);
}

.calendarHolder > div {
  border-collapse: collapse;
  border-width: 1px;
  border-style: solid;
  border-color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
}

.calendarHolder > .spacer {
  border-color: var(--secondary-text-color);
}

.calendarHolder a {
  text-decoration: none;
  color: var(--main-text-color);
}

.calendarHolder p {
  margin: 0;
  color: var(--secondary-text-color);
}

.calendarHolder b {
  margin: 0;
  color: var(--tertiary-text-color);
}

.circleButton {
  display: inline-block;
  font-size: calc(3vw + 3px);
  text-align: center;
  vertical-align: middle;
  width: calc(3vw + 3px);
  height: calc(3vw + 3px);
  background-color: var(--tertiary-bg-color);
  border-radius: 50%;
}

.circleButton a {
  text-decoration: none;
  color: var(--tertiary-text-color);
}