/*:root {
  --header-bg-color: #1e272e;
  --header-text-color: #d2dae2;
  --main-bg-color: #d2dae2;
  --main-text-color: #1e272e;
  --secondary-bg-color: #7692ff;
  --secondary-text-color: #abd2fa;
  --tertiary-bg-color: #6cae75;
  --tertiary-text-color: #d2dae2;
  --footer-bg-color: #485460;
  --footer-text-color: #d2dae2;
  --shadow-bright-color: #808e9b;
  --shadow-dark-color: #1e272e;
}*/

* {
  box-sizing: border-box;
}

form {
  max-width: 800px;
  margin: auto;
}

form > input, form > button, form > textarea{
  width: 100%;
}

.half {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*form > .half {
  width: 50%;
}

form > .third {
  width: 33.333%;
}

form > .two-third {
  width: 66.667%;
}*/